* {
  font-family: "IBM Plex Mono", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

body nav {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

body nav h2 {
  color: #6c63ff;
  font-weight: bold;
}

body nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  body nav ul {
    display: none;
  }
}

body nav ul li {
  margin-left: 30px;
}

body nav ul li a {
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .half {
  width: 50%;
}

@media (max-width: 1000px) {
  main .half {
    width: 100%;
  }
}

main .half h1 {
  font-size: 90px;
}

@media (max-width: 1000px) {
  main .half h1 {
    font-size: 65px;
  }
}

main .half p {
  font-family: "Inter";
  margin-top: 20px;
}

@media (max-width: 1300px) {
  main .half p {
    margin-top: 70px;
  }
}

@media (max-width: 1000px) {
  main .half p {
    text-align: center;
  }
}

main .half button {
  padding: 10px 30px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  main .half button {
    text-align: center;
  }
}

main .right_main {
  position: relative;
  right: 100px;
  padding-left: 50px;
}

@media (max-width: 1300px) {
  main .right_main {
    right: 0;
  }
}

@media (max-width: 1000px) {
  main .right_main {
    display: none;
    width: 0px;
  }
}

.blob {
  position: relative;
}

.blob img#big_left {
  position: relative;
  width: 65%;
}

@media (max-width: 1000px) {
  .blob img#big_left {
    width: 100%;
  }
}

.blob h1 {
  position: absolute;
  top: 40px;
  left: 20%;
}

@media (max-width: 1000px) {
  .blob h1 {
    left: 10%;
  }
}

.blob .r_wave {
  position: absolute;
  top: 310px;
  left: 60px;
}

.blob p {
  margin-left: 20%;
  max-width: 70%;
}

@media (max-width: 1000px) {
  .blob p {
    margin-left: 0;
    text-align: center;
  }
}

.blob button {
  margin-left: 20%;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .blob button {
    margin-left: 0;
    text-align: center;
  }
}

.container {
  padding: 0 10% 0 10%;
}

footer {
  background-color: #6c63ff;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

footer h1 {
  font-size: 15px;
}

footer p {
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */